/* PRELOADER STYLES */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0A003E;
    z-index: 1000;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HIDE MAIN APP INITIALLY */
.app-container {
    display: none;
}
